@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap");

/*-------------- Color Scheme ---------------------------------------- */

  :root {
    --background-color: hsl(211, 49%, 10%);
    --text-color: hsl(204, 45%, 98%);
    --shade-100: hsl(211, 49%, 20%);
    --shade-300: hsl(212, 50%, 30%);
    --shade-500: hsl(212, 50%, 70%);
    --secondary-color: hsla(203, 45%, 30%, 0.251);
    --grey-color: hsl(212, 25%, 75%);
    --grey-text: hsl(212, 25%, 85%);
  }


  
  /* :root {
    --background-color:#e5e5e5;
    --text-color: hsl(204, 45%, 98%);
    --shade-100:hsl(180, 5%, 36%) ;
    --shade-300:hsl(198, 79%, 38%) ;
    --shade-500: hsl(160, 41%, 70%);
    --secondary-color: hsl(45, 60%, 78%);
    --grey-color: hsl(212, 25%, 75%);
    --grey-text: hsl(180, 0%, 46%);
  } */
 

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Oswald', sans-serif;
  color: var(--grey-text)
}

a{
  text-decoration: none;
}

body {
  padding:0;
  margin:0;
  background-color: var(--background-color);
}


/*-------------- Header Section ---------------------------------------- */

@media screen {
  header {
    padding:0;
    margin:0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  header::before{
  content: "";
  z-index: -1;
  position: absolute;
  background-color: var(--shade-100);
  width: 100%;
  height: 50%;
  margin: auto;
  bottom: 0;
  *: 0;
  }

  header h1 p {
    font-size: clamp(1rem, -0.1rem + 8.5vw, 3.8rem);
    margin: 0;
    font-weight: 800;
    text-align: left;
    line-height: 130%;
    letter-spacing: -0.03em;
}

  /* Scroll down animation  */
  .scrollDown {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 0 1rem 5rem;
  }
  
  .arrows {
    width: 100px;
    height: px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #2994d1;
    fill: transparent;
    stroke-width: 2px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
  }
  
  @keyframes arrow {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/ {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  
  .arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s; /* Safari 和 Chrome */
  }
  
/* End of scroll down Animation */
}
/*-------------- Navbar Section --------------------------------------- */
@media screen {

  #nav-bar {
    position:sticky;
    background-color: var(--background-color);
    padding: .5rem 2rem;
    transition: top 500ms ease-in-out;
    color:var(--grey-text);
  }
  
  #nav-bar.scroll-up {
    top: 0;
  }
  
  #nav-bar.scroll-up a {
    top: 0;
  }

  #nav-bar.scroll-down {
    top: -100%;
  }
  
  .hamburger {
    margin: 0 1.5rem;
    display: none;
    border: none;
    background-color: transparent;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:var(--grey-text);
  }
  
  .nav-links {
    display: flex;
    width:100%;
    gap:10%;
    justify-content: flex-end;
    list-style-type: none;
  }
  
  .nav-link {
    font-size: 2rem;
    font-weight: 500;
  }
  
  .nav-link:hover{
    color:var(--shade-500)
  }

}
/*-------------- Main Section ----------------------------------------- */
@media screen{
  
  #main-content {
  background-color: var(--background-color);
  }

.section-container{
  width:80%;
  margin:auto;
}
.section-header {
  height:auto;
  padding: 2rem 1rem;
  font-size: 28px;
} 
.section-header h2 {
  padding:2rem 1rem;
  margin:0 2rem;
  align-self: flex-start;
  text-decoration: underline;
}
.description-link{
  text-decoration: underline;
  color:var(--shade-500)
}


}
/*-------------- About Section ---------------------------------------- */
@media screen {
  
.about-wrapper {
  margin:auto;
}

.about-me {
  width:100%;
  max-width: 65ch;
  font-size: 1.6rem;
  letter-spacing:.15ch;
  margin: auto;
  padding: 6rem 0;
}

.about-me h2 {
  color:var(--shade-500)
}
.about-me button {
  margin-top:5rem;
}

.btn {
  font-size: 1.3rem;
  border: .2rem solid var(--shade-300);
  border-radius: 2rem;
  padding:1rem;
  background-color: transparent; 
  color: var(--grey-text); 
  cursor: pointer;  
}

.about-me button:hover{
  transform: scale(1.07);
  transition: 0.2s ease-in;
  background-color: var(--shade-300);
  border-color: var(--shade-100);
}

/*-------------- Skills Section ------------------------------------- */


.skills-title{
  padding-bottom:rem;
  color: var(--shade-500);
  border-bottom: 1px solid var(--shade-500);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding:1rem 80px;
  font-size:1.2rem;
}
.skill-box{
  padding:1rem;
  color:var(--shade-500);
  cursor:pointer;
}
.skill-title {
  padding-bottom:rem;
  color: var(--shade-100);
}

.skill-title > img {
  width:72px;
}

}
/*-------------- Projects Section ------------------------------------- */
@media screen {


.container-projects {
  display: grid;
  align-items: stretch;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  
}

.project-card {
  width: 90%;
  padding: 1rem 0.5rem;
  margin: 1rem auto;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  font-family: 'Nunito', sans-serif;
}

.project-title,
.project-lang,
.project-description {
  margin: 1.5rem 0;
}

.project-img > img {
  width:auto;
  height:auto;
  max-width: 100%;
  max-height: min-content;
  overflow: hidden;
}

.project-title h2{
  font-size: 1.5rem;
  font-weight: 700;
  color:var(--text-color);
  text-transform: uppercase;

  
}


.buttonProject {
  padding: 0.1rem 0.4rem;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  margin: 1rem;
}

.lang {
  margin: auto 0.3rem;
  padding: 0.3rem;
  font-size: 1.1rem;
  border-bottom: 2px solid var(--shade-300);
  color: var(--shade-500);
}

.project-buttons {
  width: 100%;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: flex-end;
}

}
/*-------------- Contact Section -------------------------------------- */
@media screen {


.contact-wrapper {
  display: flex;
  margin:auto;
  justify-content:space-around;
}
.contact-wrapper p {
  width: 50%;
}
.form-wrapper {
  width: 40%;
}

.contact-text {
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 65ch;
}

.social-media {
  width:50%;
  display:flex;
  gap:2rem;
  margin:5rem 0;
  color:var(--grey-text);
}

.social-media a>svg {

  fill:var(--grey-text);
}
.social-media a>svg:hover, .social-media a:hover {
  fill:var(--secondary-color);
  color:var(--secondary-color);
}

.social-media a>span{
  border-radius: 1rem;
}

#contact > form {

  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 115px;
}

input[type="text"],
input[type="email"],
textarea {
  color:black;
  padding: 0.5rem 0.2rem;
  font-size: 18px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  margin: 0.8em auto;
  border: none;
  border-bottom: 0.04rem solid rgb(8, 2, 2);
  outline: none;
  resize: none;
}

#message {
  max-width: 100%;
  min-height: 100px;
  justify-content: center;
}

.submitBtn {
  padding: 0.3rem;
  font-size: 16px;
  width: 10rem;
  outline: none;
  color:black;
}
}

/*-------------- Footer Section --------------------------------------- */
@media screen {

  footer {
    padding: 2rem;
    text-align: center;
  }
}
/*-------------- Media Queries ---------------------------------------- */
@media only screen and (max-width: 768px) {
    body {
      width: 100%;
    }
    header {
      padding:0;
      margin:0;
      margin-bottom: 5rem;
    }


    #nav-bar {
      padding:0;
      overflow: hidden;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }
    .nav-links {
      display: none;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: var(--shade-100);
    }
  
    .nav-links.active {
      display: flex;
      width: 100%;
      margin:0;
    }
  
    .nav-links > li {
      width: 100%;
      margin: 2.5rem 0;
    }
  
    .hamburger {
      position: fixed;
      display: block;
      cursor: pointer;
      top:2rem;
      right:1rem;
    }
    .bar {
      color:var(--grey-text)
    }
    
  
    /* Hamburger Animation */
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
      background-color:var(--grey-color);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
      background-color:var(--grey-color);
    }
  
    .presentation-text > p {
      font-size: 24px;
    }
  
    .about-wrapper {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }

    .about-me {
      font-size: 16px;
    }

    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .contact-wrapper p {
      width: 100%;
      margin-bottom: 2rem;
    }
    .form-wrapper {
      width: 100%;
    }

    
  }


  @media only screen and (max-width: 1280px) {
    .about-wrapper {
      display: flex;
      flex-direction: column;
      min-width: 300px;
      width: 100%;
    }
    header h1 p {
      padding: 1rem 1rem 0 1rem;

      margin-top: 1rem;
    }

    .about-me {
      font-size:18px;
      width: 95%;
    }

    .contact-wrapper {
      display: flex;
      flex-direction: column;
    }
    .contact-wrapper p {
      width: 100%;
      margin-bottom: 2rem;
    }
    .form-wrapper {
      width: 100%;
    }

  }
/*-------------- Animations ---------------------------------------- */
